tweepy~=3.10.0
google~=3.0.0
google-api-python-client~=2.0.2
google-auth-oauthlib~=0.4.4
tweet-preprocessor~=0.6.0
demoji~=0.4.0
emoji~=1.2.0
pandas~=1.2.3
preprocessor~=1.1.3
nltk~=3.4.5
multidict~=5.1.0
matplotlib~=3.4.2
wordcloud~=1.8.1
scikit-learn~=0.24.2
detoxify~=0.2.2
